certifi==2022.6.15
charset-normalizer==2.1.0
colorama==0.4.5
grpcio==1.48.0
grpcio-opentracing==1.1.4
grpcio-tools==1.48.0
idna==3.3
jaeger-client==4.8.0
loguru==0.6.0
nacos-sdk-python==0.1.8
opencv-contrib-python==4.6.0.66
opentracing==2.4.0
peewee==3.15.1
protobuf==3.20.1
pybreaker==1.0.1
python-consul2==0.1.5
requests==2.28.1
six==1.16.0
threadloop==1.0.2
thrift==0.16.0
tornado==6.2
urllib3==1.26.11
win32-setctime==1.1.0
